.opacity-off {
  opacity: 0;
}

.display-off {
  display: none !important;
}

.display-on {
  display: block;
}

.trueBg {
  background-color: var(--true-color);
}

.falseBg {
  background-color: var(--false-color);
}

.level-passed {
  filter: grayscale(0) !important;
}

.resolved-pic {
  border: 2px solid var(--true-color);
}

.secret-pic {
  border: 2px solid var(--false-color);
}
