.opacity-off {
  opacity: 0;
}

.display-off {
  display: none !important;
}

.display-on {
  display: block;
}

.trueBg {
  background-color: var(--true-color);
}

.falseBg {
  background-color: var(--false-color);
}
