@import url("https://pro.fontawesome.com/releases/v6.0.0-beta2/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css");

@import url("./func.css");
@import url("./input_range.css");

@font-face {
  font-family: "khaira";
  src: url("../assets/fonts/KHAIRA.ttf") format("truetype");
}

:root {
  --text-color: #4a536b;
  --text-color2: #745c3d;
  --hover-color: #ef9d10;
  --bg-color: #fff1e1;
  --bg-color2: #201e20;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  min-width: 320px;
}

body * {
  font-family: khaira;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2vmax;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
}

h1 > span:first-child {
  color: var(--text-color);
}

h1 > span:last-child {
  color: var(--hover-color);
}

h2 {
  margin: 1vmin 0 3vmin 0;
  text-align: center;
  font-size: 1vmax;
  letter-spacing: 0.5vmax;
  color: var(--text-color2);
  text-transform: uppercase;
}

h3 {
  margin: 2vmin 0 2vmin 0;
  font-size: 2vmax;
}

/* h4 {
  margin: 0;
  width: 200px;
  padding: 0.5vmin;
  text-transform: uppercase;
  font-size: 1vmax;
  text-align: center;
  opacity: 0.8;
} */

a {
  text-decoration: none;
  color: unset;
}

.decorate-button {
  color: var(--text-color);
  cursor: pointer;
  transform: scale(1);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.decorate-button:hover {
  color: var(--hover-color);
  transform: scale(1.1, 1.1);
}

.decorate-button:active {
  transform: scale(0.8, 0.8);
}

.wrapper {
  position: relative;
  margin-top: 2vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  /* row-gap: 0vh; */
}

.mini-header {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--text-color);
  margin: 0 0.5vmax 2vmin 0.5vmax;
}

.header img {
  width: 20%;
}

.quiz-type-menu {
  display: flex;
  justify-content: space-between;
  column-gap: 2vmax;
  align-items: center;
}

.quiz-type-general {
  font-size: 1vmax;
  color: var(--text-color);
  font-weight: 200;
  letter-spacing: 0.5vmax;
  width: 30vmax;
  text-transform: uppercase;
  text-align: center;
}

.quiz-type-btn {
  transition: transform 0.2s ease-in-out, color 0.2s;
  cursor: pointer;
}

.quiz-type-btn:hover {
  transform: rotateZ(1deg) scale(1.01, 1.01);
  color: var(--hover-color);
}

.quiz-type-btn:active {
  transform: rotateZ(-1deg);
}

.quiz-type-btn img {
  width: 100%;
  border-radius: 1vmax;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footer {
  position: relative;
  padding: 0.2vmax 1vmax 0.2vmax 1vmax;
  margin: 1vmin 0.5vmax 0 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 1vmax;
  color: var(--text-color);
  border-radius: 2.5vmin;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
}

.footer span {
  font-size: 0.7vmax;
  line-height: 0.7vmax;
  text-align: center;
  text-transform: uppercase;
}

.fa-sizing {
  display: block;
  font-size: 2.5vmax;
  width: 6vmax;
  text-align: center;
}

.fa-github {
  font-size: 2vmax;
}

.rss-footer-link {
  height: 2vmax;
}

.rss-footer-link img {
  height: 100%;
}

.rss-footer-link:hover {
  filter: invert(64%) sepia(73%) saturate(1506%) hue-rotate(356deg) brightness(98%) contrast(92%);
}

.settings-list {
  display: flex;
  row-gap: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.settings-list > li {
  display: flex;
  column-gap: 2vw;
  align-items: center;
  justify-content: center;
  width: 40vw;
  min-width: 34vmax;
}

.setting-descr {
  width: 20vmax;
  font-size: 1vmax;
  text-align: left;
  color: var(--text-color);
  text-transform: uppercase;
}

.settings-module,
.start-module,
.controls-module,
.categories-module,
.artist-quiz-module,
.pic-quiz-module,
.footer,
.header,
.mini-header {
  position: relative;
  margin-left: 0.5vmax;
  margin-right: 0.5vmax;
  /* height: 65vh; */
  transition: opacity 0.3s ease-in-out;
}

.controls-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1vw;
  width: 30vw;
}

.controls-item:last-child {
  margin-top: 4vh;
  justify-content: center;
}

.controls-item i {
  color: var(--text-color);
  font-size: 3vmax;
}

.controls-descr {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 1vmax;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vmin;
}

.category-card {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 10vmax;
  height: 10vmax;
  border-radius: 10%;
}

.category-title {
  position: absolute;
  width: 20%;
  height: 20%;
  text-align: center;
  font-size: 1.1vmax;
  line-height: 2vmax;
  cursor: default;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  background-color: var(--bg-color2);
  color: var(--hover-color);
}

.categories-module .back-btn {
  position: absolute;
  bottom: 96%;
}

.artist-quiz-module {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-quiz-module h2 {
  font-size: 2vmin;
  margin-bottom: 0;
}

.artist-quiz-subj {
  display: block;
  /* object-fit: cover; */
  /* height: 65vh; */
  border-radius: 2.5vmin;
  width: 90%;
}

.artist-quiz-answers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1vmin;
}

.artist-quiz-answer {
  height: 4vmin;
  width: 40%;
  text-transform: uppercase;
  font-size: 2vmin;
  line-height: 3.5vmin;
  border: solid;
  border-radius: 2vh;
  text-align: center;
}

.pic-quiz-module {
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin;
  justify-content: center;
}

.pic-quiz-module h2 {
  margin: 0;
  width: 100%;
  height: unset;
}

.picture-quiz-pic {
  display: block;
  width: 47%;
  border-radius: 1.5vmin;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 70vw;
  }
  .quiz-type-general {
    width: 32vmax;
  }
}

@media (max-width: 1023px) {
  .wrapper {
    width: 80vw;
  }
  .quiz-type-general {
    width: 40vmax;
  }
}

@media (max-width: 768px) {
  .quiz-type-general {
    width: 33vmax;
  }
  /* .wrapper {
    width: 40vmax;
  } */
  .quiz-type-menu {
    flex-direction: column;
  }
  /* .settings-module,
  .start-module {
    height: 81vh;
  } */
  .controls-item {
    width: 36vmax;
  }
}
