.opacity-off {
  opacity: 0;
}

.display-off {
  display: none !important;
}

.display-on {
  display: block;
}

.trueBg {
  background-color: var(--true-color);
}

.falseBg {
  background-color: var(--false-color);
}

.grayscale-0 {
  filter: grayscale(0) !important;
}

.resolved-pic {
  border: 2px solid var(--true-color);
}

.secret-pic {
  border: 2px solid var(--false-color);
}

.width-0 {
  width: 0% !important;
}
.width-100 {
  width: 100%;
}

.pos-a {
  position: absolute !important;
}

.trans-width-30 {
  transition: width 30s linear;
}
.trans-width-25 {
  transition: width 25s linear;
}
.trans-width-20 {
  transition: width 20s linear;
}
.trans-width-15 {
  transition: width 15s linear;
}
.trans-width-10 {
  transition: width 10s linear;
}
.trans-width-5 {
  transition: width 5s linear;
}
